<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="virtualDataDao" class="main.java.com.mygroup.dao.VirtualDataDao"></bean>-->

    <!--&lt;!&ndash;<bean id="NintendoImpl" class="main.java.com.mygroup.seviceimpl.NintendoImpl">&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="virtualDataDao" ref="virtualDataDao" >&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->
</beans>