<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="virtualDataDao" class="main.java.com.mygroup.dao.VirtualDataDao"></bean>

    <bean id="NintendoImpl" class="main.java.com.mygroup.seviceimpl.NintendoImpl">
    <property name="virtualDataDao" ref="virtualDataDao" ></property>
    </bean>
</beans>